body {
    margin: 0px;
    padding: 0px;
    background: rgb(242, 242, 242);
    padding-bottom: 120px;
}

.topbar {
    height: 50px;
    background-color: #222;
}

.status {
    min-height: 80px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.author {
    font-size: 14px;
}

.author,
.content {
    color: #555;
    line-height: 1.5em;
}

.date {
    padding-left: 10px;
    color: #aaa;
}

.header {
    background-color: #222;
    min-height: 200px;
}

.site-title {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.actions, .actions a {
    color: #fff;
    text-align: center;
}